<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Doodle Drop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>

    <!-- *** EXTERNAL CSS -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="/assets/style/reset.css"/>

    <!-- *** CUSTOM CSS *** -->
    <!-- Global Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style/global.css"/>
    <!-- Masthead Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style/masthead.css"/>

    <!-- Doodles Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style/doodles.css"/>

    <!-- *** EXTERNAL JAVASCRIPT *** -->
    <!-- React -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper.js (Required by Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Masthead -->
    <div id="masthead" data-loggedin={{loggedIn}} data-username={{username}}></div>

    <script>
        let parser;
        let doc;
        let image;

        const decodeEntities = (svg) => {
            let txt = document.createElement('textarea');
            txt.innerHTML = svg;
            return txt.value;
        };
    </script>


    <!-- User Doodles -->
    <section id="userDoodles">
        <div id="doodles">
            {{#if doodles}}
                {{#each doodles}}
                    <div class="doodle"id='id_{{this._id}}'></div>

                    <script>
                        image = decodeEntities('{{this.image}}');
                        image = decodeEntities(image);

                        parser = new DOMParser();
                        doc = parser.parseFromString(image, 'image/svg+xml');
                        document.querySelector('#id_{{this._id}}').innerHTML += '<svg viewBox="0 0 400 400">' + doc.documentElement.innerHTML + '</svg>';
                    </script>

                {{/each}}
            {{else}}
                <h3 class="noDoodles">No Doodles Yet</h3>
            {{/if}}
        </div>
    </section>






    <!-- Selected Doodle Modal -->
    <div id="selected-recipe-modal" class="modal">
        <!-- Modal Content Container -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!-- Doodle Title -->
                <h2 id="selected-recipe-name"></h2>

                <!-- Close Button -->
                <button id="close-button" onclick="document.querySelector('#selected-recipe-modal').style.display = 'none'">Close</button>
            </div>
        </div>
    </div>

    <!-- Masthead Script -->
    <script src="/assets/src/masthead.js"></script>

<script>
    showModal = (title) => {
        const recipeModal = document.querySelector('#selected-recipe-modal');
        recipeModal.style.display = "flex";

        document.querySelector('#selected-recipe-name').innerHTML = title;
    };
</script>
</body>

</html>
