<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Doodle Drop</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS Reset -->
    <link rel="stylesheet" type="text/css" href="/assets/style/reset.css"/>
    <!-- Global Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style/global.css"/>
    <!-- Navigation Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style/navigation.css"/>
    <!-- Doodles Style -->
    <link rel="stylesheet" type="text/css" href="/assets/style/doodles.css"/>

    <!-- React -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper.js (Required by Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Masthead -->
    <div id="masthead">
        <!-- Title -->
        <h1 id="title"><a href="/">Doodle Drop</a></h1>

        <nav>
            {{#if loggedIn}}
                <button data-toggle="dropdown" type="button" id="user-menu">{{username}} <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user">My Doodles</a>
                    <a class="dropdown-item" href="/change-password">Change Password</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            {{else}}
                <a id="login-button" href="/login">Log In/Sign Up</a>
            {{/if}}
        </nav>
    </div>

    <!-- Page Content (All Doodles) -->
    <section id="content">
        <div id="doodles">
            <!-- Advertisement -->
            <div class="doodle">
                <h2 class="doodle-header">Advertisement</h2>
                <img class="thumbnail" src="https://arabiangazette.com/wp-content/uploads/2014/06/coke-advertising.jpg" alt="doodle"/>
                <h3 class="doodleDescription">This is an ad.</h3>
            </div>

            <!-- All Uploaded Doodles -->
            {{#if doodles}}
                {{#each doodles}}
                    <div class="doodle">
                        <h2 class="doodle-header">{{this.title}}</h2>
                        <img class="thumbnail" src={{this.image}} alt="doodle"/>
                        <h3 class="doodleDescription">{{this.description}}</h3>
                    </div>
                {{/each}}
            {{else}}
                <h3 class="noDoodles">No Doodles Yet</h3>
            {{/if}}
        </div>
    </section>
</body>

</html>
